@model CRUDInventoryQuick.Models.ASPNETUSERLOGIN

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ASPNETUSERLOGIN</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LoginProvider" class="control-label"></label>
                <input asp-for="LoginProvider" class="form-control" />
                <span asp-validation-for="LoginProvider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderKey" class="control-label"></label>
                <input asp-for="ProviderKey" class="form-control" />
                <span asp-validation-for="ProviderKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ASPNETUSER_ASPNETUSER_ID" class="control-label"></label>
                <select asp-for="ASPNETUSER_ASPNETUSER_ID" class="form-control" asp-items="ViewBag.ASPNETUSER_ASPNETUSER_ID"></select>
                <span asp-validation-for="ASPNETUSER_ASPNETUSER_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
