@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmacion de contraseña peridida";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor revisa tu correo para recuperar tu contraseña
</p>
