@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Contraseña restablecida satisfactoriamente";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña fue restablecida. Por favor <a asp-page="./Login">click aqui para ingresar</a>.
</p>
