@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Control de Inventario Dulce Pooh</h1>

    <p>Por favor cree una cuenta o Inicie sesión para que pueda ser posible el uso de la plataforma</p>
</div>
