@model CRUDInventoryQuick.Models.ASPNETUSER

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ASPNETUSER</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ASPNETUSER_ID" />
            <div class="form-group">
                <label asp-for="NombreNetUserId" class="control-label"></label>
                <input asp-for="NombreNetUserId" class="form-control" />
                <span asp-validation-for="NombreNetUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dirección" class="control-label"></label>
                <input asp-for="Dirección" class="form-control" />
                <span asp-validation-for="Dirección" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teléfono" class="control-label"></label>
                <input asp-for="Teléfono" class="form-control" />
                <span asp-validation-for="Teléfono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CorreoConfirmado" /> @Html.DisplayNameFor(model => model.CorreoConfirmado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelloDeSeguridad" class="control-label"></label>
                <input asp-for="SelloDeSeguridad" class="form-control" />
                <span asp-validation-for="SelloDeSeguridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReclamarTelefono" class="control-label"></label>
                <input asp-for="ReclamarTelefono" class="form-control" />
                <span asp-validation-for="ReclamarTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosFactoresDisponibles" class="control-label"></label>
                <input asp-for="DosFactoresDisponibles" class="form-control" />
                <span asp-validation-for="DosFactoresDisponibles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCierre" class="control-label"></label>
                <input asp-for="FechaCierre" class="form-control" />
                <span asp-validation-for="FechaCierre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAbierta" class="control-label"></label>
                <input asp-for="FechaAbierta" class="form-control" />
                <span asp-validation-for="FechaAbierta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccesoDenegado" class="control-label"></label>
                <input asp-for="AccesoDenegado" class="form-control" />
                <span asp-validation-for="AccesoDenegado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
