@model CRUDInventoryQuick.Models.ViewModels.RegisterViewModel

@{
     ViewData["Title"] = "Registro de usuario";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center">Registro de usuario</h3>
        <form asp-controller="Cuentas" asp-action="Registro" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
        <div class="text-danger" asp-validation-summary="All"></div>
            
            <div class="row mt-4">
                <div class="col-sm-6">

                    <div class="mb-3">
                        <label asp-for="Nombres" class="col-md-2"></label>
                         <input asp-for="Nombres" class="form-control" placeholder="Ingresa tu nombre"/>
                        <span asp-validation-for="Nombres" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Apellidos" class="col-md-2"></label>
                         <input asp-for="Apellidos" class="form-control" placeholder="Ingresa tu nombre"/>
                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                    </div>

                     <div class="mb-3">
                        <label asp-for="Email" class="col-md-2"></label>
                         <input asp-for="Email" class="form-control" placeholder="Ingresa tu email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                     <div class="mb-3">
                        <label asp-for="ConfirmEmail" class="col-md-2"></label>
                         <input asp-for="ConfirmEmail" class="form-control" placeholder="Ingresa la confirmacion de tu email"/>
                        <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-sm-6">

                      <div class="mb-3">
                        <label asp-for="PhoneNumber" class="col-md-2"></label>
                         <input asp-for="PhoneNumber" class="form-control" placeholder="Ingresa tu teléfono"/>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                   
                     <div class="mb-3">
                        <label asp-for="Direccion" class="col-md-2"></label>
                         <input asp-for="Direccion" class="form-control" placeholder="Ingresa tu dirección"/>
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>

                     <div class="mb-3">
                        <label asp-for="FechaNacimiento" class="col-md-4"></label>
                         <input type="text" name="FechaNacimiento" class="form-control"  id="datepicker" placeholder="Ejemplo: 1990-10-05"/>
                        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                    </div>

                     <div class="mb-3">
                        <label asp-for="Password" class="col-md-2"></label>
                         <input asp-for="Password" class="form-control" placeholder="Ingresa la contraseña"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                     <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="col-md-5"></label>
                         <input asp-for="ConfirmPassword" class="form-control" placeholder="Ingresa la confirmación de contraseña"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>                    

                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 offset-2">
                     <button type="submit" class="btn btn-success w-75 btn-lg">Registrarse</button>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}